annotation/Mus_musculus/piRBase/piR_mouse.rev.2.ebwt
annotation/Mus_musculus/piRBase/piR_mouse.3.ebwt
annotation/Mus_musculus/piRBase/piR_mouse.4.ebwt
annotation/Mus_musculus/piRBase/piR_mouse.rev.1.ebwt
annotation/Mus_musculus/piRBase/piR_mouse.2.ebwt
annotation/Mus_musculus/piRBase/piR_mouse.fa
annotation/Mus_musculus/piRBase/piR_mouse.1.ebwt
annotation/Mus_musculus/genome/mm10/genome.fa
shortRNA/03_tse/fastq/unique.fasta
shortRNA/03_tse/tse.rds
shortRNA/03_tse/reads_with_counts.rds
shortRNA/03_tse/customGenome.fasta.gz
shortRNA/02_qc/output/SRR955633_R1.fastq.gz
shortRNA/02_qc/output/SRR955628_R1.fastq.gz
shortRNA/02_qc/output/SRR955629_R1.fastq.gz
shortRNA/genome/customGenome.00.b.array
shortRNA/genome/customGenome.fasta.gz
shortRNA/genome/customGenome.00.b.tab
data_gz/SRR955628.fastq.gz
data_gz/SRR955634.fastq.gz
data_gz/SRR955629.fastq.gz
data_gz/SRR955633.fastq.gz
sports/1_SRR955628/SRR955628_result/SRR955628_output.txt
sports/3_SRR955633/SRR955633_result/SRR955633_output.txt
data/SRR955634.fastq
data/SRR955633.fastq
data/SRR955628.fastq
data/SRR955629.fastq
